@import 'node_modules/sass-material-colors/sass/sass-material-colors';
@import '_reset';
$primary-dark:   #455A64;
$primary:        #607D8B;
$primary-light:  #CFD8DC;
$primary-icon:   #FFFFFF;
$accent:         #536DFE;
$primary-text:   #212121;
$secondary-text: #727272;
$divider:        #B6B6B6;

.vertical-table{
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-table-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

body{
  padding-top: calc(50px + 2rem);
  overflow-x: hidden;
}
nav {
  background-color: $primary-dark;
  height: 50px;
  position: fixed;
  width: 100vw;
  top: 0;
  .title{
    display: inline-block;
    padding: calc(25px - 1rem);
    font-size: 2rem;
  }
  a{
    transition: all .5s ease;
    text-decoration: none;
    color: lighten($accent, 15);
    &:hover, &:active{
      color: $primary-icon;
    }
  }
  .nav-list{
    float: right;
    display: inline-block;
    list-style-type: none;
    height: 100%;
    >li {
      display: inline-block;
      padding: calc(25px - 0.6rem) 2rem calc(25px - 0.6rem) 0;
      >a{
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#login-modal.revealed{
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  .form-container{
    height: 295px;
    padding: 25px 0;
  }
}
#login-modal.closing{
  transition-delay: .5s;
  .form-container{
    transition-delay: 0s;
  }
}

#login-modal {
  z-index: -1000;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  transition: all .2s;
  background-color: transparent;
  .form-container {
    border-radius: 15px 0 15px 0;
    background-image: linear-gradient(to right top, lighten($primary-light, 25), lighten($primary-light, 15) 5%, $primary-light 50%, lighten($primary-light, 15) 95%, lighten($primary-light, 25));
    display: inline-block;
    position: relative;
    height: 0px;
    width: 250px;
    overflow-y: hidden;
    transition: all .5s;
    transition-delay: .2s;
    .button-dismiss {
      position: absolute;
      top: 0;
      right: 0;
    }
    md-dialog{
      display: block !important;
    }
    form {
      display: block !important;
    }
    md-input-container{
      input{
        background-color: white !important;
      }
    }
  }
}
