<div id="login-modal" class="modal vertical-table" ng-class="{revealed: modalOpen, closing: modalIsClosing}" align="center" ng-click="close()">
  <div class="vertical-table-cell">
    <div class="form-container" click-stop-propagation>
      <div ui-view="auth"></div>
      <h1 class="md-display-1">Login</h1>
      ​<form  autocomplete="off" ng-submit='login(user)'>
        <md-input-container>
          <label for="username">Username:</label>
          <input required type="text" name="username" autocomplete="off" ng-model='user.username'>
        </md-input-container><br>
        <md-input-container>
          <label for="password">Password:</label>
          <input required name="password" type="password" ng-model='user.password'>
        </md-input-container><br>
        <md-button type="submit" class="md-raised md-primary">
          <span class="md-text">Login</span>
        </md-button>
      </form>
      <md-button class="button-dismiss md-icon-button" aria-label="close" ng-click="close()">
        <md-icon md-font-icon="fa-times" class="fa md-accent" aria-hidden="true" ng-style="{'font-size':'25px', height:'25px'}">
        </md-icon>
      </md-button>
    </div>
  </div>
</div>
